body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #78b7f6;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}
.hidden {
    display: none;
}
input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}
select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
#chat-app {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#chat-messages {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}